/* Master grid for  homepage layout */
.grid {
    height: 100%;
    width: 100%;
    display: grid;
    grid-gap: 15px;
    min-width: 400px;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 50px 200px 100px 250px 415px 180px 50px;
    grid-template-areas:
    "head"
    "nav"
    "images"
    "side"
    "about"
    "main"
    "sub"
    "foot";
}

/* Header area */
#head {
    grid-area: head;
}

/* Navigation Bar */
 #nav {
     grid-area: nav;
 }

/* Grid Section for blog categories */
#images {
    grid-area: images;
}

/* Nested Grid Structure for blog-categories */
.nest-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px;
    grid-template-areas:
    "tech trav exer";
    grid-gap: 15px;
}

#technology {
    grid-area: tech;
}

#travel {
    grid-area: trav;
}

#exercise {
    grid-area: exer;
}

#side {
     grid-area: side;
}

#about {
    grid-are: about;
}

/* Blog-Preview Main Grid */
 #main {
    grid-area: main;
 }

 #subscribe {
    grid-area: sub;
 }

/* Nested Grid for Blog-Preview Section*/
.nest-grid-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 250px 50px 50px;
    grid-template-areas:
    "tit"
    "imc"
    "bpr"
    "but";
    grid-gap: 5px;
}

.nest-content {
    overflow: hidden;
}

#title {
    grid-area: tit;
}

#main-image {
    grid-area: imc;
}
#blog-preview {
    grid-area: bpr;
}

#cont-button {
    grid-area: but;
}

/* Footer section on main page */
 #foot {
     grid-area: foot;
 }

/* Homepage grid on medium browsers */
@media (min-width: 600px) and (max-width: 1000px) {
    .grid {
        height: 100%;
        width: 100%;
        display: grid;
        /* border: 2px dashed black; */
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 100px 50px 200px 100px 315px 180px 50px;
        grid-template-areas:
        "head head head"
        "nav nav nav"
        "images images images"
        "main main side"
        "main main about"
        "sub sub sub"
        "foot foot foot";
    }

    .nest-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 200px;
        grid-template-areas:
        "tech trav exer";
    }

    .nest-grid-content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 50px 250px 50px 50px;
        grid-template-areas:
        "tit"
        "imc"
        "bpr"
        "but";
    }
}


/* Homepage display grid on wide browsers */
@media (min-width: 1001px) {
    .grid {
        height: 100%;
        width: 100%;
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 100px 50px 200px 100px 315px 180px 50px;
        grid-template-areas:
        "head head head"
        "nav nav nav"
        "images images images"
        "main main side"
        "main main about"
        "sub sub sub"
        "foot foot foot";
    }

    .nest-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 200px;
        grid-template-areas:
        "tech trav exer"
    }

    .nest-grid-content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 50px 250px 50px 50px;
        grid-template-areas:
        "tit"
        "imc"
        "bpr"
        "but";
    }
}
