@import "header.css";
@import "navigation.css";
@import "blog-category.css";
@import "blog-preview.css";
@import "homepage.css";
@import "blogposts.css";
@import "about.css";
@import "sidebar.css";
@import "avatar.css";
@import "social-media.css";
@import "subscribe.css";
@import "footer.css";

/* Remove all default margin and padding */
* {
    margin: 0px;
    padding: 0px;
}

/* Set margins */
html {
    margin: 15px 15px;
}

h1 {
    color: coral;
}

h2 {
    color: coral;
    font-size: 15px;
    font-weight: lighter;
    text-align: center;
}

/* Set H3 margin for extra spacing with paragraphs */
h3 {
    margin-bottom: 10px;
    text-align: center;
}

body {
    font-family: "Roboto", sans-serif;
}

blockquote   {
    font-style: italic;
    font-weight: bold;
    color: darkgrey;
}

q {
    font-style: oblique;
    font-weight: lighter;
    color: coral;
    font-size: 10px;
}

.underline {
    text-decoration: underline;
    text-transform: lowercase;
    color: coral;
}

.italic {
    font-style: italic;
    font-size: 10px;
    text-transform: uppercase;
}

.bold {
    font-weight: 700;
    color: lightblue;
    font-size: 15px;
}
