/* Remove all default margin and padding */
*{
    margin:0px;
    padding:0px;
}

/* Set margins */
html {
    margin:15px 15px;
}

/* Set H3 margin for extra spacing with paragraphs */
h3 {
  margin-bottom: 10px;
}

/* Master grid for  website page layout */
.grid {
    height: 100%;
    width:100%;
    display:grid;
    grid-gap:15px;
    min-width: 400px;
    /* border: 2px dashed black; */
    grid-template-columns: 1fr;
    grid-template-rows:100px 50px 200px 100px 100px 415px 50px;
    grid-template-areas:
    "head"
    "nav"
    "images"
    "side"
    "about"
    "main"
    "foot";
  }

/* Header area */
#head {
    grid-area:head;
    text-align: center;
    line-height: 100px;

/* Navigation Bar */
}
 #nav {
     grid-area:nav;
     background-color: white;
     height:50px;
     width:100%;
     /* Shadow beneath nav bar */
     box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
 }

/* Style Nav bar using ul element */
 .nav-ul {
     list-style: none;
     display:flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     margin:0 auto;
 }


.nav-li {
    width:100px;
}

/*Turns links to block element  */
.nav-links {
    text-decoration: none;
    color:black;
    display:block;
    height:50px;
    text-align: center;
    line-height: 50px;
  /* border: 2px dashed yellow; */
}

/* Set hover for nav bar links */
.nav-links:hover {
    color:coral;
}

/* Nested grid area for images */
#images {
    grid-area:images;
}

/* Div containers for images */
.images {
    border: 2px dashed red;
    width:100%;
    height:200px;
}

.nest-grid {
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: 200px;
    grid-template-areas:
    "tech trav exer";
    grid-gap:15px;
}

.nest-images {
    width:100%;
    /* border: 1px dashed red; */
}

.highlight {
  /* border: 2px solid red; */
  padding:10px 10px;
  background-color: black;
  color:white;
}

#technology {
    grid-area:tech;
    background-image: url(images/technology.jpg);
    background-size:cover;
    line-height: 200px;
    text-align: center;
}

.nest-images:hover {
    opacity:0.3;
}

#travel {
    grid-area:trav;
    background-image: url(images/travel.jpg);
    background-size:cover;
    line-height: 200px;
    text-align: center;
    color:white;
}
#exercise {
    grid-area:exer;
    background-image: url(images/exercise.jpg);
    background-size:cover;
    line-height: 200px;
    text-align: center;
    color:white;

}


 #side {
     grid-area:side;
     text-align: center;
     /* border: 2px dashed red; */
     /* border: 1px dashed lightgrey; */
     padding: 10px;

    }

#about {
    grid-are:about;
    text-align: center;
    /* border: 2px dashed orange; */
    /* border: 1px dashed lightgrey; */
    padding:10px;

}

/* Main content area */
 #main {
     grid-area:main;
    text-align: center;
    /* border: 2px dashed grey; */
 }

/* Main Content section on Home page*/
.nest-grid-content {
    display:grid;
    grid-template-columns:1fr;
    grid-template-rows: 50px 250px 50px 50px;
    grid-template-areas:
    "tit"
    "imc"
    "bpr"
    "but";
    grid-gap:5px;
    /* border: 1px dashed lightgrey; */


}

.nest-content {
    /* border: 1px solid red; */
    overflow: hidden;
}

#title {
    grid-area:tit;
}

#main-image {
    grid-area:imc;
    background-image: url("images/coffee.jpg");
    background-size:cover;
}
#blog-preview {
    grid-area:bpr;
    font-size: 10px;
    /* margin: 10px 10px; */
}

#cont-button {
  grid-area:but;
  line-height: 50px;
}


.blog-links {
    text-decoration: none;
    color:black;
}

.blog-links:hover {
    color:coral;
}


#cont-read {
    background-color: coral;
    color:white;
    height:50px;
    border-style:none;
    padding: 0px 20px;
  }
#cont-read:hover {
    opacity: 0.3;
    border-style: none;
  }

/* Footer section on main page */
 #foot {
     grid-area:foot;
     background-color: grey;
     color:white;
     line-height: 50px;
     text-align: center;
 }

/* medium browsers */
@media (min-width:600px) and (max-width:1000px) {
  .grid {
      height: 100%;
      width:100%;
      display:grid;
      /* border: 2px dashed black; */
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows:100px 50px 200px 207.5px 207.5px 50px;
      grid-template-areas:
      "head head head"
      "nav nav nav"
      "images images images"
      "main main side"
      "main main about"
      "foot foot foot";

  }

  .nest-grid {
      display:grid;
      grid-template-columns:1fr 1fr 1fr;
      grid-template-rows: 200px;
      grid-template-areas:
      "tech trav exer"
  }

  .nest-grid-content {
      display:grid;
      grid-template-columns:1fr;
      grid-template-rows: 50px 250px 50px 50px;
      grid-template-areas:
      "tit"
      "imc"
      "bpr"
      "but";
  }

  }


/* wide browsers */
@media (min-width:1001px) {
  .grid {
      height: 100%;
      width:100%;
      display:grid;
      /* border: 2px dashed blue; */
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows:100px 50px 200px 207.5px 207.5px 50px;
      grid-template-areas:
      "head head head"
      "nav nav nav"
      "images images images"
      "main main side"
      "main main about"
      "foot foot foot";
  }

  .nest-grid {
      display:grid;
      grid-template-columns:1fr 1fr 1fr;
      grid-template-rows: 200px;
      grid-template-areas:
      "tech trav exer"
  }

  .nest-grid-content {
      display:grid;
      grid-template-columns:1fr;
      grid-template-rows: 50px 250px 50px 50px;
      grid-template-areas:
      "tit"
      "imc"
      "bpr"
      "but";
  }
}

body {
    font-family: 'Roboto', sans-serif;
}
